.holder {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  table{
    cursor: pointer;
  }
 

  .listSpan {
    display: block;
    width: 100%;
    font-weight: bolder;
  }