.holder {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  cursor: pointer;
}
.listanKuvaus{
  color: rgb(109, 109, 109);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.listSpan {
  display: block;
  width: 100%;
  font-weight: bolder;
}
.tableRow{
  background-color: white;
  transition: 0.5s;
}
.tableRow:hover{
  background-color:rgba(204, 255, 204, 0.99);
}

.todo:hover{
  background-color:rgb(255, 196, 196);
}