.App {
  text-align: center;
}

input[type=text]{
  width: 90%;
  margin: 20px;
}
table{
  width: 90%;
  margin: auto;
}
.logo{
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
