*,
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  margin: 5px;
}
h2{
  margin: 5px;
}

.App {
  text-align: center;
}

.m20b {
  margin-bottom: 20px;
}
.m50t {
  margin-top: 50px;
}
